@import url(https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);

@font-face {
  font-family: 'Menlo';
  src: local('Menlo-Regular'), url(./assets/fonts/Menlo-Regular.ttf);
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF-Pro-Display-Regular'), url(./assets/fonts/SF-Pro-Display-Regular.otf);
  font-weight: 100 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF-Pro-Display-Medium'), url(./assets/fonts/SF-Pro-Display-Medium.otf);
  font-weight: 500 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF-Pro-Display-Bold'), url(./assets/fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700 1000;
}

@import "tailwindcss";

@theme {
  /* Catppuccin Macchiato */
  --color-dark-800: #181926; /* Crust */
  --color-dark-700: #1e2030; /* Mantle */
  --color-dark-600: #24273a; /* Base */
  --color-dark-500: #363a4f; /* Surface0 */
  --color-dark-400: #494d64; /* Surface1 */
  --color-dark-300: #5b6078; /* Surface2 */
  --color-dark-200: #6e738d; /* Overlay0 */
  --color-dark-100: #8087a2; /* Overlay1 */
  --color-dark-grey: #1e2030; /* Mantle */
  --color-white: #cad3f5; /* Text */
  --color-white-75a: hsla(226,58%,88%,.75);
  --color-white-50a: hsla(226,58%,88%,.5);
  --color-white-10a: hsla(226,58%,88%,.1);
  --color-white-5a: hsla(226,58%,88%,.05);
  --color-pink: #f5bde6; /* Pink */
  --color-soft-blue: #91d7e3; /* Sky */
  --color-yellow: #eed49f; /* Yellow */
  --color-purple: #c6a0f6; /* Mauve */
  --color-blue: #8aadf4; /* Blue */
  --color-green: #a6da95; /* Green */
  --color-red: #ed8796; /* Red */

  --font-sans: 'SF Pro Display', Roboto, serif, Arial;
  --font-mono: Menlo, 'Fira Mono', 'Courier New';
} 

:root {
  --dark-700: #1e2030;
  --dark-600: #24273a;
  --dark-500: #363a4f;
  --dark-400: #494d64;
  --dark-300: #5b6078;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #24273a;
  color: #cad3f5;
}

* {
  scrollbar-color: rgba(256, 256, 256, 0.2) var(--dark-500);
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-500);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(256, 256, 256, 0.2);
}

::selection {
  background: #494d64;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.animate-blink {
  animation: blink 1s step-start 0s infinite;
}

@keyframes border-blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.animate-fade {
  animation: fade-in 2s;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}